@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);

/*
----------------------------------------
	1. Debugging Style
	2. General Styling
	3. Navigation Styling
	4. Mini Banner Styling
	5. Full Banner
	6. Trello Game Tasks Styling
    7. 	Trello Documentation Download

----------------------------------------
*/

/**
----------------------------------------
Convention for CSS ordering and each section should be separated by a enter:
    - Display	- top, left, width, height, margin, padding, display, float, position, border, overflow, box-shadow
	- Color		- color, background
    - Text		- font-size, font-weight, line-height, letter-spacing, text-transform, text-align, font-family
	- Other		- text-decoration, text-shadow, transition, transform
----------------------------------------
*/

/* -------------------- Debugging Style -------------------- */

.sectionTestingSpacing
{
	padding-bottom: 70px;
}

/* -------------------- General Styling -------------------- */

*
{
	margin: 0;
	padding: 0;
}

body
{
	margin: 0;
	height: 100%;

	color: #384452;
	background: #ffffff;

	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}

p
{
	margin-top: 10px;
	margin-bottom: 12px;
	padding: 0;

	color: #384452;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Lato', sans-serif;
}

a
{
	margin: 0;
	padding: 0;

	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus
{
	color:#01b2fe;

	text-decoration: none;
}

table
{
	width: 100%;

	background-color: #fff;
}

th, td
{
	padding-left: 25px;
	padding-right: 25px;
}

form .form-group
{
	margin-bottom: 30px;
}

form .form-control
{
	border: 2px solid #CCCCCC;
	box-shadow: none !important;
}

form input
{
	height: 46px;
	padding: 10px 16px;
	border-radius: 6px;

	font-size: 18px;
	line-height: 1.33;
}

form label
{
	display: inline-block;
	position: absolute;

	font-weight: 700;
}

/* -------------------- Navigation Styling -------------------- */

.navigationSection .navbar
{
	padding: 40px 0;
	position: fixed;
	border: none;

	background: transparent;

	transition: 0.32s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.navigationSection .navbar .container
{
	margin-top: 12px;
	margin-bottom: 12px;
}

.navigationSection .navbar .navbar-brand
{
	float: left;

	font-size: 20px;
	font-weight: 900;
	letter-spacing: 3px;
	text-transform: uppercase;

	color: #FFFFFF;

	transition: .3s all ease;
}

.navigationSection .navbar-default .navbar-nav ul
{
	transition: .3s all ease;
}

.navigationSection .navbar-default .navbar-nav > li
{
	padding: 0 10px;
}

.navigationSection .navbar-default .navbar-nav > li > a
{
	color: #abb3b3;

	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;

	text-transform: uppercase;
}

.navigationSection .navbar-default .navbar-nav > li > a:hover,
	.navigationSection .navbar-default .navbar-nav > li > a:focus
{
	color: #FFFFFF;
	background: transparent;

	font-weight: 900;
}

.navigationSection .navbar-default .navbar-nav > .active > a
{
	border-bottom: 2px solid #FFFFFF;

	color: #FFFFFF;
	background: transparent;

	font-weight: 900;
}

.navigationSection .navbar-default li.dropdown:hover > .dropdown-menu
{
	display: block;
}

.navigationSection .navbar-default .dropdown-menu
{
	padding: 7px 0 3px;
	border-radius: 5px;

	background: #000000;
}

.navigationSection .navbar-default .dropdown-menu > li
{
	padding: 0 15px;

	background: transparent;
}

.navigationSection .navbar-default .dropdown-menu > li > a
{
	padding: 10px 15px;

	color: #FFFFFF !important;

	font-size: 13px;
	font-weight: 600;

	text-transform: uppercase;
}

.navigationSection .navbar-default .dropdown-menu > li > a:hover,
	.navigationSection .navbar-default .dropdown-menu > li > a:focus
{
	color: #28bbf8 !important;
	background: transparent;

	font-weight: 900;
}

.navbarScrolled
{
	padding: 0 0 !important;

	background: white !important;
}

.navbarScrolled .navbar-brand
{
	color: black !important;
}

.navbarScrolled .navbar-nav > .active > a,
	.navigationSection .navbar-default .navbar-nav > li > a:hover,
	.navigationSection .navbar-default .navbar-nav > li > a:focus
{
	color: #28bbf8 !important;
}

/* -------------------- Mini Banner Styling -------------------- */

.miniBanner
{
	padding-top: 25px;
	padding-bottom: 25px;

	background: #184e8e;
}

.miniBanner h3
{
	margin-left: 15px;

	color: white;
}

/* -------------------- Full Banner Styling -------------------- */

.fullBanner
{
	height: 100vh;
	padding: 100px;

	background: #184e8e linear-gradient(135deg, #172a74, #21a9af);

	text-align: center;
}

.fullBanner .row .col-lg-12
{
	top: 50%;
	left: 0;
	position: absolute;

	transform: translate(0%, -50%);
}

.fullBanner h2 /* Text Title in the Full Banner Section */
{
	margin-bottom: 50px;

	color: #FFFFFF;

	font-size: 40px;
}

.fullBanner h5 /* Text Description in the Full Banner Section */
{
	margin-bottom: 40px;

	color: #FFFFFF;

	font-size: 18px;
}

.fullBanner .buttonHolder .btn
{
	padding: 20px 40px;
	margin: 20px;
	border-radius: 0;
	border: 2px solid #FFFFFF;

	color: #FFFFFF;
	background: transparent;

	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;

}

.fullBanner .buttonHolder .btn:focus,
	.fullBanner .buttonHolder .btn:hover
{
	color: #000000;
	background-color: #FFFFFF;

	text-shadow: none;
	transition: background linear 300ms, color linear 300ms;
}

/* -------------------- Trello Game Tasks Styling -------------------- */

#overallProgress .canvasSize
{
	width: 100%;
	height: 500px;
}

#overallProgress #overallProgressChart
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.gameProgress
{
	overflow: hidden;

	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.headerTable
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.headerTableRound
{
	border-radius: 10px;
}

.gameProgressScrolling
{
	height: 530px; /* Every row is approximately 53px which 10 rows is the maximum of row which fit */
	overflow: auto;
}

.gameProgress thead tr th
{
	padding-top: 18px;
	padding-bottom: 18px;

	color: #FFFFFF;
	background-color: #6c7ae0;

	font-size: 18px;
	line-height: 1.4;
}

.gameProgress tr .taskNameColumn,
	.gameProgress thead tr th .taskNameColumn
{
	width: 30%;
}

.gameProgress tr .taskRoleColumn,
	.gameProgress thead tr th .taskRoleColumn
{
	width: 20%;
}

.gameProgress tr .taskTimeColumn,
	.gameProgress thead tr th .taskTimeColumn
{
	width: 25%;
}

.gameProgress tr .taskProgressColumn,
	.gameProgress thead tr th .taskProgressColumn
{
	width: 25%;
}

.gameProgress tr td
{
	padding-top: 16px;
	padding-bottom: 16px;

	color: #808080;

	font-size: 15px;
	line-height: 1.4;
}

.gameProgress tr:nth-child(even)
{
	background-color: #f8f6ff;
}

.progress
{
	height: 20px;
	margin-bottom: 0;
	position: relative;
	border-radius: 30px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	background-color: #f5f5f5;
}

.progress .progress-bar
{
	background: #28bbf8;
}

.progress .progress-bar span
{
	width: 100%;
	display: block;
	position: absolute;

	color: black;
}

/* -------------------- Trello Documentation Download -------------------- */

.documentationImages img
{
	width: 100%;
	padding-bottom: 30px;
}
