<ng-container *ngIf="trelloViewer.areProjectsLoaded(); else projectsLoading">
  <card>
    <card-header>
      <card-tools>
        <ng-content select=".header"></ng-content>

        <button class="btn" (click)="trelloViewer.syncTrelloProjects()">
          <i class="fas fa-sync"></i>
          Sync Projects
        </button>
      </card-tools>

      <card-title>
        {{cardTitle}}
      </card-title>
    </card-header>

    <card-body>
      <ng-container *ngIf="trelloViewer.trelloProjects.length !== 0; else noProjects">
        <ng-content select=".body"></ng-content>
      </ng-container>

      <ng-template #noProjects>
        <trello-no-project></trello-no-project>
      </ng-template>
    </card-body>
  </card>
</ng-container>

<ng-template #projectsLoading>
  <trello-loading-projects></trello-loading-projects>
</ng-template>
