<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      {{trelloService.areProjectsLoaded ? cardTitle : 'Loading Trello Projects'}}
    </h3>

    <div class="card-tools">
      <ng-content select=".header"></ng-content>

      <button class="btn btn-light" (click)="trelloService.syncAllProjects()" [disabled]="!trelloService.areProjectsLoaded">
        <i class="fas fa-sync"></i>
        Sync Projects
      </button>
    </div>
  </div>

  <div class="card-body">
    <ng-container *ngIf="trelloService.trelloProjects.length; else noProjects">
      <ng-container *ngIf="trelloService.areProjectsLoaded; else projectsLoading">
        <ng-content select=".body"></ng-content>
      </ng-container>

      <ng-template #projectsLoading>
        <div class="progress col-xl-12">
          <div
            class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
            [style.width]="trelloService.loadedPercentage + '%'"
            [attr.aria-valuenow]="trelloService.loadedPercentage">
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-template #noProjects>
      <div class="no-projects col-xl-12 text-center">
        <div class="input-group">
          <p class="form-control"> No projects added </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
