<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Brandon Abela">

        <title> City Of The Zombies </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- Bootstrap Style -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">                  <!-- Icons Style -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">                        <!-- Font -->

        <!-- Website Style Sheet -->
        <link href="css/style.css" rel="stylesheet">

        <!-- Important Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>    <!-- Angular JS Script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>      <!-- Chart Script -->

        <!-- Controllers for the city of the zombies website -->
        <script src="javascript/latexDocumentation/latexGameProgressDocumentation.js"></script>
        <script src="javascript/controller/tableGameProgress.js"></script>
    </head>

    <body ng-app="myGameApplication">
        <!-- ******************** SECTION - TOP NAVIGATION BAR ******************** -->

        <div class="topNavigation">
            <div class="heading">
                <div class="top-left">
                    <a class="navbar-brand">    <h4> City Of The Zombies </h4>  </a>
                    <a class="menuToggle">      <i class="fas fa-bars"></i>     </a>
                </div>

                <div class="top-right">
                    <button type="button" class="btn btn-outline-dark"> <i class="fas fa-home"></i> Log In    </button>
                    <button type="button" class="btn btn-outline-dark"> <i class="fas fa-home"></i> Register  </button>
                </div>
            </div>
        </div>

        <!-- ******************** SECTION - SIDEBAR NAVIGATION BAR ******************** -->

        <div class="sideNavigation">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                                <a href="index.html">   <i class="fas fa-home"></i>     Home        </a>
                        </li>

                        <li class="menu-title">    Game News            </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     News                </a>    </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Media               </a>    </li>

                        <li class="menu-title">    Game Information     </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Getting Started     </a>    </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Customisation       </a>    </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Game Progress       </a>    </li>

                        <li class="menu-title">    Communication     </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Team                </a>    </li>
                        <li>    <a href="#">    <i class="fas fa-home"></i>     Contact Us          </a>    </li>

                        <li class="menu-title">    Development     </li>
                        <li class="menuDropDown">
                            <a href="#" class="menuDropDownTitle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-home"></i>   Components
                            </a>

                            <ul class="dropdown-menu">
                                <li>    <a href="#">    <i class="fas fa-home"></i>     Buttons     </a>    </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content" ng-controller="myTableGameProgressController">
            <div class="row">
                <div class="col-md-12">
                    <div class="card cardBlueGradient">
                        <!-- ******************** SECTION - DESCRIPTION BANNER ******************** -->

                        <div class="descriptionBanner text-center">
                            <h2> Banner Title </h2>
                            <h5> Description Description Description Description Description Description Description </h5>

                            <div class="buttonHolder">
                                <button type="button" class="btn btn-primary"> Button 1 </button>
                                <button type="button" class="btn btn-primary"> Button 2 </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card cardBlue">
                        <title-banner title="title"> </title-banner>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card cardSpacing">
                        <!-- ******************** TRELLO GAME PROGRESS ******************** -->

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="nav flex-column nav-pills">
                                    <a class="nav-link active" href="#overallProgress" data-toggle="pill"> Overall Progress </a>

                                    <a class="nav-link" ng-repeat="aTrelloBoardList in trelloBoardLists" href="#{{removeSpace(aTrelloBoardList.boardName)}}" data-toggle="pill"> {{aTrelloBoardList.boardName}} </a>
                                </div>
                            </div>

                            <div class="col-sm-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="overallProgress">
                                        <h1> Overview Progress </h1>

                                        <div class="row">
                                            <div class="col-sm-4" ng-repeat="aBoardCardCount in boardCardCount">
                                                <p> {{aBoardCardCount.boardName}} : <strong> {{aBoardCardCount.boardCardCount}} </strong></p>
                                            </div>
                                        </div>

                                        <div class="canvasSize">
                                            <canvas id="overallProgressChart"> </canvas> <!-- Creating the overall statistics in table game progress -->
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" ng-repeat="aTrelloBoardList in trelloBoardLists" id="{{removeSpace(aTrelloBoardList.boardName)}}">
                                        <h1> {{aTrelloBoardList.boardName}} </h1>

                                        <form>
                                            <div class="form-group input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                                <input type="text" class="form-control input-lg" placeholder="Search for a Task Attribute" ng-model="searchTaskAttribute">
                                            </div>
                                        </form>

                                        <div ng-show="(trelloCards | trelloCardsFilter: aTrelloBoardList.boardName: searchTaskAttribute).length">
                                            <table class="gameProgress headerTable">
                                                <thead>
                                                <tr>
                                                    <th class="taskNameColumn">    Task Name   </th>
                                                    <th class="taskRoleColumn">    Role        </th>
                                                    <th class="taskTimeColumn">    Time        </th>
                                                    <th class="taskProgressColumn">    Progress    </th>
                                                </tr>
                                                </thead>
                                            </table>

                                            <div class="gameProgressScrolling">
                                                <table class="gameProgress">
                                                    <tr ng-repeat="aTrelloCard in trelloCards | trelloCardsFilter: aTrelloBoardList.boardName: searchTaskAttribute">
                                                        <td class="taskNameColumn">    {{aTrelloCard.cardName}}                    </td>
                                                        <td class="taskRoleColumn">    {{aTrelloCard.cardJob}}                     </td>
                                                        <td class="taskTimeColumn">    {{aTrelloCard.cardEstimation === "Estimation Unknown" ? "Estimation Unknown" : aTrelloCard.cardEstimation + " days"}}   </td>
                                                        <td class="taskProgressColumn">
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: {{aTrelloCard.cardListPercentage + '%'}};"
                                                                     aria-valuenow="{{aTrelloCard.cardListPercentage}}"
                                                                     aria-valuemin="0" aria-valuemax="100">

                                                                    <span> {{aTrelloCard.cardListPercentage === 0 ? "0.00 %" : aTrelloCard.cardListPercentage + " %"}} </span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <table class="gameProgress headerTableRound" ng-show="!(trelloCards | trelloCardsFilter: aTrelloBoardList.boardName: searchTaskAttribute).length">
                                            <thead>
                                                <tr>    <th class="text-center">    The search that your are trying to perform does not match anything   </th>  </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ******************** SHARING COMMON CONTROLLERS ******************** -->

        <div ng-controller="myTableGameProgressController">

            <!-- ******************** DOWNLOADING LATEX DOCUMENTATION ******************** -->

            <div class="container">
                <h3> Downloading Trello Documentation </h3>

                <div class="col-md-12">
                    <button type="button" class="btn btn-primary col-md-12" ng-click="generateDocumentAngularJS(trelloCards, trelloCategory)">
                        Download LaTeX Documentation of Game Tasks
                    </button>
                </div>

                <div class="sectionTestingSpacing"> </div>

                <div class="documentationImages">
                    <div class="row">
                        <h4 class="imageCount text-center"> </h4>
                    </div>

                </div>

                <div class="sectionTestingSpacing"> </div>
            </div>
        </div>

        <!-- ******************** LOADING HEAVY SCRIPTS ******************** -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>            <!-- Jquery Java Script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   <!-- Bootstrap Javascript Plugin -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>         <!-- Bootstrap Javascript -->

        <script src="javascript/standardLibraries/FileSaver.js"></script>           <!-- File Saving Java Script -->

        <!-- ******************** Loading Directives ******************** -->

        <script src="directive/TitleBanner/titleBannerDirective.js"></script>

        <!-- Controllers for the Chart Game Progress -->

        <script src="javascript/charts/chartGameProgress.js"></script>

        <!-- Importing the website manager -->

        <script src="javascript/websiteManager.js"></script>
    </body>
</html>
