<app-page-header></app-page-header>

<app-page-body>
  <div class="row">

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Basic Badge </h3>
        </div>

        <div class="card-body">
          <span class="badge bg-primary"> Primary </span>
          <span class="badge bg-success"> Success </span>
          <span class="badge bg-danger"> Danger </span>
          <span class="badge bg-warning"> Warning </span>
          <span class="badge bg-info"> Info </span>
          <span class="badge bg-dark"> Dark </span>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Light Text Badge </h3>
        </div>

        <div class="card-body">
          <span class="badge bg-light-primary"> Primary </span>
          <span class="badge bg-light-success"> Success </span>
          <span class="badge bg-light-danger"> Danger </span>
          <span class="badge bg-light-warning"> Warning </span>
          <span class="badge bg-light-info"> Info </span>
          <span class="badge bg-light-dark"> Dark </span>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Rounded Badge </h3>
        </div>

        <div class="card-body">
          <span class="badge rounded-pill bg-primary"> Primary </span>
          <span class="badge rounded-pill bg-success"> Success </span>
          <span class="badge rounded-pill bg-danger"> Danger </span>
          <span class="badge rounded-pill bg-warning"> Warning </span>
          <span class="badge rounded-pill bg-info"> Info </span>
          <span class="badge rounded-pill bg-dark"> Dark </span>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Outline Badge </h3>
        </div>

        <div class="card-body">
          <span class="badge rounded-pill badge-outline-primary"> 5 </span>
          <span class="badge rounded-pill badge-outline-success"> 5 </span>
          <span class="badge rounded-pill badge-outline-danger"> 5 </span>
          <span class="badge rounded-pill badge-outline-warning"> 5 </span>
          <span class="badge rounded-pill badge-outline-info"> 5 </span>
          <span class="badge rounded-pill badge-outline-dark"> 5 </span>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Button Badge </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary btn-badge position-relative">
            Button <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"> 5 </span>
          </button>

          <button class="btn btn-success btn-badge position-relative">
            Button <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-warning"> 5 </span>
          </button>

          <button class="btn btn-danger btn-badge position-relative">
            Button <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"> 5 </span>
          </button>

          <button class="btn btn-warning btn-badge position-relative">
            Button <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-success"> 5 </span>
          </button>
        </div>
      </div>
    </div>

  </div>
</app-page-body>
