.breadcrumb {
  font-size: var(--fs-m);
  font-weight: 600;

  margin: 0;

  letter-spacing: 1px;
}

.breadcrumb a {
  text-decoration: none;

  color: var(--bs-primary-light);
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #006DAB;
}

.breadcrumb .active {
  color: var(--bs-dark-light);
}

.breadcrumb-item:not(:first-child) {
  content: "-";
}
