@import "~src/app/@theme/assets/scss/theme-colour.scss";

.breadcrumb {
  margin: 0;
  padding: 0;

  float: right;

  font-size: 17px;
  background: transparent;

  a {
    text-decoration: none;

    color: color(theme, text-paragraph);

    &:hover,
    &:focus {
      color: color(theme, primary-light);
    }
  }

  .active a {
    color: color(theme, primary-light);
  }

  .separator {
    margin: 0 10px;
  }
}
