@import "~src/app/@theme/assets/scss/theme-colour.scss";

.breadcrumb {
  padding: 3px 0 0 0;
  background: transparent;
  font-size: 16px;
  margin: 0;
  float: right;

  li {
    margin: 0;

    a {
      font-weight: 500;
      color: color(theme, primary-light);
      text-decoration: none;
    }

    &:last-child {
      color: color(theme, text-heading);
    }
  }

  .separator {
    padding: 3px 8px;
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .breadcrumb {
    float: left;
  }
}
