<div class="dropdown-checkbox">
  <div class="col-xl-12 btn-group">
    <button class="form-control dropdown-toggle" type="button" data-bs-toggle="dropdown">
      {{getTickedColumns()}}
    </button>

    <ul class="dropdown-menu dropdown-checkbox">
      <li>
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="elementFilter" [ngModelOptions]="{standalone: true}" />
      </li>

      <li *ngFor="let checkbox of elementValues | dropdownCheckboxFilter: elementFilter; trackBy: trackByIndex" [formGroup]="elementFormGroup">
        <label class="dropdown-item form-check">
          <input type="checkbox" class="form-check-input" [formControlName]="elementValues.indexOf(checkbox)"> {{checkbox}}
        </label>
      </li>
    </ul>
  </div>
</div>
