.dropdown-checkbox {
  .btn-group {
    width: 100%;
  }

  button {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dropdown-menu li {
    margin-bottom: var(--space-s);

    label {
      cursor: pointer;
    }

    .form-check-input {
      margin-right: var(--icon-size);
      margin-left: 0;
    }
  }
}
