.dropdown-menu {
  li {
    display: block;
    padding: 8px;
    padding-left: 40px;

    label {
      cursor: pointer;
      margin-bottom: 0;

      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      input[type="checkbox"] + span:before,
      input[type="checkbox"] + span:after {
        content: "";
        left: 10px;
        position: absolute;
        z-index: 1;
        margin-top: 2px;
      }

      input[type="checkbox"] + span:before {
        height: 20px;
        width: 20px;
        background-color: transparent;
        border-radius: 2px;
        border: 2px solid #5a5a5a;
      }

      input[type="checkbox"]:checked + span:before {
        width: 8px;
        height: 15px;
        margin: 2px 6px;

        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;

        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
      }

      input[type="checkbox"]:checked + span:after {
        width: 20px;
        height: 20px;
        z-index: 0;

        border: 3px solid #02bec9;
        background-color: #02bec9;
      }
    }
  }
}
