<app-page-header></app-page-header>

<app-page-body>
  <div class="row">

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Basic Controls </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="emailInput">Email address <span class="text-danger">*</span></label>
              <input id="emailInput" type="email" class="form-control" placeholder="Enter email" />
              <span class="form-text text-muted"> We'll never share your email with anyone else. </span>
            </div>

            <div class="form-group">
              <label for="passportInput"> Password <span class="text-danger"> * </span></label>
              <input id="passportInput" type="password" class="form-control" placeholder="Password" />
            </div>

            <div class="form-group">
              <label for="selectInput"> Select <span class="text-danger">*</span></label>
              <select id="selectInput" class="form-control form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label for="selectMultipleInput"> Multiple select <span class="text-danger"> * </span></label>
              <select id="selectMultipleInput" class="form-control form-select" multiple>
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
                <option> 4 </option>
                <option> 5 </option>
              </select>
            </div>

            <div class="form-group">
              <label for="textareaInput"> Textarea <span class="text-danger"> * </span></label>
              <textarea id="textareaInput" class="form-control" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> HTML5 Inputs </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="nameInput" class="col-2 col-form-label"> Name </label>
              <div class="col-10">
                <input id="nameInput" class="form-control" type="text" value="John" />
              </div>
            </div>

            <div class="form-group row">
              <label for="searchInput" class="col-2 col-form-label"> Search </label>
              <div class="col-10">
                <input id="searchInput" class="form-control" type="search" value="How do I shoot web" />
              </div>
            </div>

            <div class="form-group row">
              <label for="emailInput" class="col-2 col-form-label"> Email </label>
              <div class="col-10">
                <input id="emailInput" class="form-control" type="email" value="bootstrap@example.com" />
              </div>
            </div>

            <div class="form-group row">
              <label for="passwordInput" class="col-2 col-form-label"> Password </label>
              <div class="col-10">
                <input id="passwordInput" class="form-control" type="password" value="hunter2" />
              </div>
            </div>

            <div class="form-group row">
              <label for="numberInput" class="col-2 col-form-label"> Number </label>
              <div class="col-10">
                <input id="numberInput" class="form-control" type="number" value="42" />
              </div>
            </div>

            <div class="form-group row">
              <label for="dateTimeInput" class="col-2 col-form-label"> Date and time </label>
              <div class="col-10">
                <input id="dateTimeInput" class="form-control" type="datetime-local" value="2011-08-19T13:45:00" />
              </div>
            </div>

            <div class="form-group row">
              <label for="dateInput" class="col-2 col-form-label"> Date </label>
              <div class="col-10">
                <input id="dateInput" class="form-control" type="date" value="2011-08-19" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Basic Group </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="leftAddonsInput"> Left Addon </label>
              <div class="input-group">
                <span class="input-group-text"> @ </span>
                <input id="leftAddonsInput" type="text" class="form-control" placeholder="Email" />
              </div>
            </div>

            <div class="form-group">
              <label for="rightAddonsInput"> Right Addon </label>
              <div class="input-group">
                <input id="rightAddonsInput" type="text" class="form-control" placeholder="Username" />
                <span class="input-group-text"> @example.com </span>
              </div>
            </div>

            <div class="separator separator-dashed"></div>

            <div class="form-group">
              <label for="jointAddonsInput"> Joint Addons </label>
              <div class="input-group">
                <span class="input-group-text"> $ </span>
                <span class="input-group-text"> 0.00 </span>
                <input id="jointAddonsInput" type="text" class="form-control" />
              </div>
            </div>

            <div class="form-group">
              <label for="leftRightAddonsInput"> Left & Right Addons </label>
              <div class="input-group">
                <span class="input-group-text"> $ </span>
                <input id="leftRightAddonsInput" type="text" class="form-control" placeholder="0.00" />
                <span class="input-group-text"><i class="bi bi-r-circle-fill"></i></span>
              </div>
            </div>

            <div class="separator separator-dashed"></div>

            <div class="form-group">
              <label for="leftIconInput"> Left Icon Input </label>
              <div class="input-group input-group-icon-left">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input id="leftIconInput" type="text" class="form-control" placeholder="Search..." />
              </div>
            </div>

            <div class="form-group">
              <label for="rightIconInput">Right Icon Input</label>
              <div class="input-group input-group-icon-right">
                <input id="rightIconInput" type="text" class="form-control" placeholder="Search..." />
                <span class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Checkbox </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="checkboxesInput" class="col-3 col-form-label"> Checkboxes </label>
              <div id="checkboxesInput" class="col-9 col-form-label">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inlineCheckboxesInput" class="col-3 col-form-label"> Inline Checkboxes </label>
              <div id="inlineCheckboxesInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="separator separator-dashed"></div>

            <div class="form-group row">
              <label for="primaryStateInput" class="col-3 col-form-label"> Primary State </label>
              <div id="primaryStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="successStateInput" class="col-3 col-form-label"> Success State </label>
              <div id="successStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="dangerStateInput" class="col-3 col-form-label"> Danger State </label>
              <div id="dangerStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Radio </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="radiosInput" class="col-3 col-form-label"> Radios </label>
              <div id="radiosInput" class="col-9 col-form-label">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios1">
                    Default
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios1" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios1" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inlineRadioInput" class="col-3 col-form-label"> Inline Radios </label>
              <div id="inlineRadioInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios2">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios2" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios2" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="separator separator-dashed"></div>

            <div class="form-group row">
              <label for="primaryStateInput" class="col-3 col-form-label"> Primary State </label>
              <div id="primaryStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios3">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios3" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios3" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="successStateInput" class="col-3 col-form-label"> Success State </label>
              <div id="successStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios4">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios4" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-success">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios4" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="dangerStateInput" class="col-3 col-form-label"> Danger State </label>
              <div id="dangerStateInput" class="col-9 col-form-label">
                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios5">
                    Default
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios5" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-check-inline form-check-danger">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radios5" disabled>
                    Disabled
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Switch </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="switchInput" class="col-3 col-form-label"> Switches </label>
              <div id="switchInput" class="col-9 col-form-label">
                <div class="form-check form-switch">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    Default
                  </label>
                </div>

                <div class="form-check form-switch">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    Checked
                  </label>
                </div>

                <div class="form-check form-switch">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled>
                    Disabled
                  </label>
                </div>
              </div>

              <div class="form-group row">
                <label for="inlineSwitchInput" class="col-3 col-form-label"> Inline Switches </label>
                <div id="inlineSwitchInput" class="col-9 col-form-label">
                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      Default
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      Checked
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" disabled>
                      Disabled
                    </label>
                  </div>
                </div>
              </div>

              <div class="separator separator-dashed"></div>

              <div class="form-group row">
                <label for="primaryInput" class="col-3 col-form-label"> Primary State </label>
                <div id="primaryInput" class="col-9 col-form-label">
                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      Default
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      Checked
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" disabled>
                      Disabled
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="successInput" class="col-3 col-form-label"> Success State </label>
                <div id="successInput" class="col-9 col-form-label">
                  <div class="form-check form-switch form-check-inline form-check-success">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      Default
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline form-check-success">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      Checked
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline form-check-success">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" disabled>
                      Disabled
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="dangerInput" class="col-3 col-form-label"> Danger State </label>
                <div id="dangerInput" class="col-9 col-form-label">
                  <div class="form-check form-switch form-check-inline form-check-danger">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      Default
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline form-check-danger">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      Checked
                    </label>
                  </div>

                  <div class="form-check form-switch form-check-inline form-check-danger">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" disabled>
                      Disabled
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Input States </h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="disabledInput"> Disabled Input </label>
              <input id="disabledInput" type="email" class="form-control" disabled="disabled" placeholder="Disabled input" />
            </div>

            <div class="form-group">
              <label for="disabledInput"> Disabled select </label>
              <select id="disabledInput" class="form-control form-select" disabled="disabled">
                <option> 1 </option>
                <option> 2 </option>
                <option> 3 </option>
                <option> 4 </option>
                <option> 5 </option>
              </select>
            </div>

            <div class="form-group">
              <label for="disabledTextareaInput"> Disabled textarea </label>
              <textarea id="disabledTextareaInput" class="form-control" disabled="disabled" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="readonlyInput"> Readonly Input </label>
              <input id="readonlyInput" type="email" class="form-control" readonly placeholder="Readonly input" />
            </div>

            <div class="form-group">
              <label for="exampleTextarea"> Readonly textarea </label>
              <textarea class="form-control" readonly rows="3" placeholder="Readonly input"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Validated States </h3>
        </div>

        <div class="card-body">
          <form class="was-validated">
            <div class="form-group">
              <label for="validationTextarea" class="form-label">Textarea</label>
              <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
              <div class="invalid-feedback"> Please enter a message in the textarea. </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label" for="validationFormCheck1">
                  <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                  Check this checkbox
                </label>
                <div class="invalid-feedback"> Example invalid feedback text </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label" for="validationFormCheck2">
                  <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
                  Toggle this radio
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label" for="validationFormCheck3">
                  <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required>
                  Or toggle this other radio
                </label>
                <div class="invalid-feedback">More example invalid feedback text</div>
              </div>
            </div>

            <div class="form-group">
              <select class="form-control form-select" required aria-label="select example">
                <option value="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <div class="invalid-feedback">Example invalid select feedback</div>
            </div>

            <div class="form-group">
              <input type="file" class="form-control" aria-label="file example" required>
              <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</app-page-body>
