@import "~src/app/@theme/assets/scss/theme-colour.scss";

.export-field {
  margin: 12px 0;
}

.form-control,
.input-group-text {
  height: auto;
  padding: 11px 17px;
  border: none;
}

.form-control {
  border-radius: 5px;
  background: color(theme, light-dark);
}

.input-group-text {
  cursor: pointer;
  color: color(theme, text-white);
  background: color(theme, primary-dark);

  &::before {
    vertical-align: middle;
  }
}
