@import "~src/app/@theme/assets/scss/theme-colour.scss";

.topNavigation {
  z-index: 50;

  .container-fluid {
    padding: 0;
  }

  .navbar {
    padding: 0;

    background: color(theme, primary-light);

    .logo-banner {
      width: 240px;
      height: 64px;
      padding: 0 20px;

      text-align: center;

      background: rgba(0, 0, 0, 0.05);

      h4 {
        font-size: 20px;
        line-height: 64px;

        margin: 0;

        color: color(theme, text-white);
      }

      .fullLogoBanner {
        display: inline;
      }

      .miniLogoBanner {
        display: none;
      }
    }

    .navbar-collapse {
      padding: 11px 15px;

      color: color(theme, text-white);

      .center-logo {
        display: none;

        h4 {
          margin: 0;

          color: color(theme, text-white);
        }
      }

      .nav-link {
        font-size: 20px;
        line-height: 1;

        margin-right: 7px;
        padding: 10px;

        cursor: pointer;
        vertical-align: middle;

        color: color(theme, text-white);
        border-radius: 4px;

        &:hover,
        &:focus {
          background: rgba(31, 30, 30, 0.12);
        }
      }

      .dropdown-menu {
        z-index: 1001;
        right: 15px;
        left: auto;

        width: 250px;
        margin-top: 6px;
        padding: 0;

        border-radius: 3px;

        .header {
          padding: 11px 30px;

          text-align: center;

          color: color(theme, text-white);
          background: color(theme, primary-light);

          &:after {
            position: absolute;
            top: -9px;
            right: 18px;

            content: "";

            border-right: 9px solid transparent;
            border-bottom: 9px solid color(theme, text-white);
            border-bottom-color: color(theme, primary-light);
            border-left: 9px solid transparent;
          }
        }

        .item {
          padding: 11px 30px;

          cursor: pointer;

          color: color(theme, text-paragraph);

          &:hover,
          &:focus {
            transition: all 0.15s ease;

            background-color: #f3f6f9 !important;
          }

          span {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .minimise-sidebar .logo-banner {
    width: 70px !important;

    .fullLogoBanner {
      display: none;
    }

    .miniLogoBanner {
      display: inline;
    }
  }
}

@media(max-width: 1440px) {
  .topNavigation {
    .logo-banner {
      display: none;
    }

    .navbar {
      .navbar-collapse {
        display: flex;
        flex-basis: auto;

        .center-logo {
          display: inline;
        }
      }
    }
  }
}
