@import "~src/app/@theme/assets/scss/theme-colour.scss";

.topNavigation {
  z-index: 50;

  .container-fluid {
    padding: 0;
  }

  .navbar {
    padding: 0;
    background: color(theme, primary-light);

    .logo-banner {
      width: 240px;
      height: 64px;
      padding: 0 20px;
      text-align: center;
      background: rgba(0, 0, 0, 0.05);

      h4 {
        margin: 0;
        font-size: 20px;
        line-height: 64px;
        color: color(theme, text-white);
      }

      .fullLogoBanner {
        display: inline;
      }

      .miniLogoBanner {
        display: none;
      }
    }

    .navbar-collapse {
      padding: 11px 15px;
      color: color(theme, text-white);

      .center-logo {
        display: none;

        h4 {
          margin: 0;
          color: color(theme, text-white);
        }
      }

      .nav-link {
        font-size: 20px;
        line-height: 1;

        margin-right: 7px;
        padding: 10px;

        cursor: pointer;
        vertical-align: middle;

        border-radius: 4px;
        color: color(theme, text-white);

        &:hover,
        &:focus {
          background: rgba(31, 30, 30, 0.12);
        }
      }

      .dropdown-menu {
        font-size: 16px;

        padding: 0;
        margin-top: 6px;
        position: absolute;
        border-radius: 3px;

        right: 15px;
        left: auto;
        width: 250px;
        z-index: 1001;

        .header {
          padding: 15px 11px;
          text-align: center;

          color: color(theme, text-white);
          background: color(theme, primary-light);

          &:after {
            top: -9px;
            right: 18px;
            content: "";
            position: absolute;

            border-left: 9px solid transparent;
            border-right: 9px solid transparent;

            border-bottom: 9px solid color(theme, text-white);
            border-bottom-color: color(theme, primary-light);
          }
        }

        .item {
          cursor: pointer;
          padding: 8px 15px;
          text-decoration: none;
          border: 1px solid #ebedf3;
          color: color(theme, text-paragraph);

          &:hover,
          &:focus {
            transition: all 0.15s ease;
            background-color: #f3f6f9 !important;
          }

          i {
            display: inline-flex;
            width: 35px;
            height: 35px;
            color: color(theme, text-white);
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: color(theme, danger-dark) !important;
            font-size: 16px;
          }

          span {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .minimise-sidebar .logo-banner {
    width: 70px !important;

    .fullLogoBanner {
      display: none;
    }

    .miniLogoBanner {
      display: inline;
    }
  }
}

@media (max-width: 1440px) {
  .topNavigation {
    .logo-banner {
      display: none;
    }

    .navbar {
      .navbar-collapse {
        flex-basis: auto;
        display: flex;

        .center-logo {
          display: inline;
        }
      }
    }
  }
}
