<div class="row">
  <div class="col-xl-12">
    <page-header></page-header>
  </div>

  <div class="col-xl-12">
    <ng-container *ngIf="trelloViewer.areProjectsLoaded(); else projectsLoading">
      <card>
        <card-header>
          <card-tools>
            <button class="btn" type="button" (click)="addTrelloProject()" data-toggle="modal" data-target="#manageProjectModal">
              <i class="fas fa-plus"></i>
              Add Project
            </button>
          </card-tools>

          <card-title>
            Projects
          </card-title>
        </card-header>

        <card-body>
          <div class="row">
            <div class="col-xl-12">

              <ng-container *ngIf="trelloViewer.trelloProjects.length !== 0; else noProjects">

                <div class="searchArea">
                  <div class="input-group">
                    <input class="form-control" placeholder="Project Name" [(ngModel)]="projectNameSearch">

                    <div class="input-group-append">
                      <button class="btn btn-primary">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12">
                    <div class="table-responsive" data-simplebar data-simplebar-auto-hide="false">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Project Name </th>
                            <th> Expiry Date </th>
                            <th> Action </th>
                          </tr>
                        </thead>

                        <tbody *ngFor="let aTrelloProject of trelloViewer.trelloProjects | trelloProjectNameFilter: projectNameSearch; index as i">
                          <td> {{aTrelloProject.projectName}} </td>
                          <td> {{aTrelloProject.expiryDate | date: 'dd MMMM yyyy'}} </td>
                          <td>
                            <button class="btn btn-success" type="button" (click)="editTrelloProject(i)" data-toggle="modal" data-target="#manageProjectModal">
                              <i class="fas fa-edit"></i>
                            </button>

                            <button class="btn btn-danger" type="button" (click)="removeTrelloProject(i)" data-toggle="modal" data-target="#confirmationModal">
                              <i class="fas fa-trash"></i>
                            </button>

                            <confirmation-modal modalId="confirmationModal" (modalChoice)="confirmRemoveTrelloProject($event)"></confirmation-modal>
                          </td>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </ng-container>

              <ng-template #noProjects>
                <trello-no-project></trello-no-project>
              </ng-template>

            </div>
          </div>
        </card-body>
      </card>
    </ng-container>

    <ng-template #projectsLoading>
      <trello-loading-projects [trelloViewer]="trelloViewer"></trello-loading-projects>
    </ng-template>
  </div>
</div>

<trello-manage-project [projectIndex]="projectIndex" [trelloForm]="trelloForm" [trelloViewer]="trelloViewer"></trello-manage-project>
