<app-page-header></app-page-header>

<app-page-body>
  <div class="row">

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Base Examples </h3>
        </div>

        <div class="card-body">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="bi bi-chat-left-text-fill"></i> Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-stack"></i> Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                <i class="bi bi-rocket-takeoff-fill"></i> Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-gear-fill"></i> Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Alignments </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <ul class="nav justify-content-begin">
              <li class="nav-item">
                <a class="nav-link active" href="#"><i class="bi bi-chat-left-text-fill"></i> Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-stack"></i> Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                  <i class="bi bi-rocket-takeoff-fill"></i> Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-gear-fill"></i> Disabled</a>
              </li>
            </ul>
          </div>

          <div class="row">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" href="#"><i class="bi bi-chat-left-text-fill"></i> Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-stack"></i> Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                  <i class="bi bi-rocket-takeoff-fill"></i> Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-gear-fill"></i> Disabled</a>
              </li>
            </ul>
          </div>

          <div class="row">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="#"><i class="bi bi-chat-left-text-fill"></i> Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-stack"></i> Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">
                  <i class="bi bi-rocket-takeoff-fill"></i> Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-gear-fill"></i> Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Tabs </h3>
        </div>

        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tabs-01"><i class="bi bi-chat-left-text-fill"></i> Home</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabs-02"><i class="bi bi-stack"></i> Profile</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabs-03"><i class="bi bi-rocket-takeoff-fill"></i> Contact</button>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabs-01">
              This is some placeholder content the Home tab's associated content.
            </div>
            <div class="tab-pane fade" id="tabs-02">
              This is some placeholder content the Profile tab's associated content.
            </div>
            <div class="tab-pane fade" id="tabs-03">
              This is some placeholder content the Contact tab's associated content.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Pills </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <button class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#pills-01"><i class="bi bi-chat-left-text-fill"></i> Home</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#pills-02"><i class="bi bi-stack"></i> Profile</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#pills-03"><i class="bi bi-rocket-takeoff-fill"></i> Contact</button>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="pills-01">
                This is some placeholder content the Home tab's associated content.
              </div>
              <div class="tab-pane fade" id="pills-02">
                This is some placeholder content the Profile tab's associated content.
              </div>
              <div class="tab-pane fade" id="pills-03">
                This is some placeholder content the Contact tab's associated content.
              </div>
            </div>
          </div>

          <div class="row">
            <ul class="nav nav-success nav-pills">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#pills-04"><i class="bi bi-chat-left-text-fill"></i> Home</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pills-05"><i class="bi bi-stack"></i> Profile</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pills-06"><i class="bi bi-rocket-takeoff-fill"></i> Contact</button>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="pills-04">
                This is some placeholder content the Home tab's associated content.
              </div>
              <div class="tab-pane fade" id="pills-05">
                This is some placeholder content the Profile tab's associated content.
              </div>
              <div class="tab-pane fade" id="pills-06">
                This is some placeholder content the Contact tab's associated content.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="d-flex align-items-start">
              <div class="nav flex-column nav-pills me-3" id="v-pills-tab">
                <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-07">
                  <i class="bi bi-chat-left-text-fill"></i> Home
                </button>
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-08">
                  <i class="bi bi-stack"></i> Profile
                </button>
                <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-09">
                  <i class="bi bi-rocket-takeoff-fill"></i> Contact
                </button>
              </div>

              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="#pills-07">
                  This is some placeholder content the Home tab's associated content.
                </div>
                <div class="tab-pane fade" id="#pills-08">
                  This is some placeholder content the Profile tab's associated content.
                </div>
                <div class="tab-pane fade" id="#pills-09">
                  This is some placeholder content the Contact tab's associated content.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</app-page-body>
