@import "~src/app/@theme/assets/scss/theme-colour.scss";

.row .col-xl-8 {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  h1 {
    font-family: "montserrat-black", sans-serif;
    font-size: 220px;
    line-height: initial;

    letter-spacing: 10px;
    text-transform: uppercase;

    background: url("~src/app/@theme/assets/img/SolarBackground.jpg") no-repeat center center;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-family: "montserrat-black", sans-serif;
    font-size: 24px;

    margin-top: 0;
    margin-bottom: 30px;

    text-transform: uppercase;

    color: color(theme, text-heading);
  }

  .btn {
    font-size: 14px;
    font-weight: 700;

    padding: 15px 30px;

    color: color(theme, text-white);

    border-radius: 40px;
    background: color(theme, primary-dark);
    border-color: color(theme, primary-dark);
    box-shadow: color(theme, primary-dark) 0 4px 15px -5px;
  }
}

@media (max-width: 1024px) {
  .row .col-xl-8 h1 {
    font-size: 150px;
  }
}

@media (max-width: 768px) {
  .row .col-xl-8 h1 {
    font-size: 100px;
  }
}

@media (max-width: 425px) {
  .row .col-xl-8 h1 {
    font-size: 75px;
  }
}
