@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700;900&display=swap");

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;

  text-transform: uppercase;
}

h1 {
  font-size: calc(8rem + 10vh);

  letter-spacing: 0.5rem;

  background: url("~src/app/@theme/assets/img/SolarBackground.jpg") no-repeat center center;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: calc(1rem + 3vh);

  margin-bottom: 30px;
}

.btn {
  font-weight: 900;

  padding: var(--space-m) var( --space-l);

  letter-spacing: 1px;
}
