<modal [modalId]="modalId">
  <modal-title>Confirm Action</modal-title>

  <modal-body>
    <p>Do you want to continue with the following action?</p>

    <div class="modal-controls">
      <button type="button" class="btn btn-success" (click)="confirmAction()" data-bs-dismiss="modal">
        <i class="fas fa-check"></i> Confirm
      </button>

      <button type="button" class="btn btn-danger" (click)="declineAction()" data-bs-dismiss="modal">
        <i class="fas fa-times"></i> Cancel
      </button>
    </div>
  </modal-body>
</modal>
