@import "~src/app/@theme/assets/scss/theme-colour.scss";

.card {
  margin-bottom: 25px;

  border-color: color(theme, backdrop-outline);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card-header {
  padding: 13px 23px;

  border-bottom: 1px solid color(theme, backdrop-outline);
  background-color: transparent;

  ::ng-deep img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
  }
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;

  margin-bottom: 0;

  color: color(theme, text-heading);
}

.card-subtitle {
  font-size: 14px;

  margin-top: 4px;

  color: color(theme, text-paragraph);
}

.card-tools .row {
  margin: -2px 0 0 0;

  ::ng-deep .btn {
    font-size: 14px;
    font-weight: 500;

    margin-left: 18px;
    padding: 6px 16px;

    color: color(theme, text-white);
    border-color: color(theme, primary-dark);
    background-color: color(theme, primary-dark);

    &:hover,
    &:active {
      border-color: color(theme, primary-light);
      background-color: color(theme, primary-light);
    }

    i {
      margin-right: 5px;
    }
  }
}

.card-body {
  padding: 14px 23px;
}
