<app-page-header></app-page-header>

<app-page-body>
  <div class="row">

    <div class="col-xl-3">
      <app-card-countdown appCardColour="primary" [count]="100" description="Test"></app-card-countdown>
    </div>

    <div class="col-xl-3">
      <app-card-countdown appCardColour="success" [count]="100" description="Test"></app-card-countdown>
    </div>

    <div class="col-xl-3">
      <app-card-countdown appCardColour="dark" [count]="100" description="Test"></app-card-countdown>
    </div>

    <div class="col-xl-3">
      <app-card-countdown appCardColour="info" [count]="100" description="Test"></app-card-countdown>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Project 1 </h3>

          <div class="card-tools">
            <button class="btn btn-light">
              Button 1
            </button>

            <button class="btn btn-light">
              Button 2
            </button>
          </div>
        </div>

        <div class="card-body">
          Description Text
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Project 1 </h3>
        </div>

        <div class="card-body">
          Description Text
        </div>

        <div class="card-footer">
          Footer Text
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Project 1 </h3>
        </div>

        <div class="card-body">
          <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/2-dog.jpg" alt="Dog Image">
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Project 1 </h3>
        </div>

        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</app-page-body>
