@import "~src/app/@theme/assets/scss/theme-colour.scss";

.modal-header {
  padding: 13px;
  border-bottom: 1px solid color(theme, backdrop-outline);

  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }

  .close {
    padding: 16px;
    margin: -16px;
  }
}

.modal-body {
  padding: 16px;
}

.modal-footer {
  padding: 13px;
  border-top: 1px solid color(theme, backdrop-outline);

  ::ng-deep button:not(:last-child) {
    margin-right: 10px;
  }
}
