.modal-header {
  padding: 13px;
  border-bottom: 1px solid #dee2e6;

  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }

  .close {
    padding: 16px;
    margin: -16px;
  }
}

.modal-body {
  padding: 16px;
}

.modal-footer {
  padding: 13px;
  border-top: 1px solid #dee2e6;

  & > :not(:last-child) {
    margin-right: 10px;
  }
}
