.modal-header {
  padding: 13px;
  border-bottom: 1px solid #dee2e6;

  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }

  .close {
    padding: 16px;
    margin: -16px;
  }
}

.modal-body {
  padding: 16px;
}

.modal-footer {
  padding: 13px;
  border-top: 1px solid #dee2e6;

  ::ng-deep .btn-primary {
    color: #ffffff;
    background: #7460ee;
    border: 1px solid #7460ee;

    &:hover {
      background: #7460ee;
      box-shadow: 0 9px 16px 0 rgba(116, 96, 238, 0.42);
      border: 1px solid #7460ee;
    }

    &:focus,
    &:active {
      background-color: #6352ce;
      border: 1px solid #6352ce;
    }
  }

  & > :not(:last-child) {
    margin-right: 10px;
  }
}
