.toast-container .toast-title {
  line-height: 28px;
}

.toast-bottom-right .ngx-toastr {
  width: 600px !important;
}

.toast-success {
  color: var(--bs-white);
  background-color: var(--bs-success-dark);
}

.toast-error {
  color: var(--bs-white);
  background-color: var(--bs-danger-dark);
}

.toast-warning {
  color: var(--bs-black);
  background-color: var(--bs-warning-dark);
}

.toast-info {
  color: var(--bs-white);
  background-color: var(--bs-primary-dark);
}
