.dropdown-menu {
  padding: var(--space-s);

  color: var(--bs-gray);
  border-radius: var(--radius);

  .dropdown-item {
    font-size: var(--fs-p);

    padding: var(--space-s) var(--space-m);

    color: var(--bs-black);
    border-radius: var(--radius);

    &:hover,
    &:focus {
      transition: all 0.15s ease;

      color: var(--bs-primary-light);
      background-color: var(--bs-primary-fade);
    }

    i {
      margin-right: var(--icon-size);
    }
  }

  .dropdown-divider {
    border-bottom: 1px solid var(--bs-outline);
  }
}
