@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;700;900&display=swap");

@import "variables";
@import "theme-accordion";
@import "theme-alert";
@import "theme-badge";
@import "theme-button";
@import "theme-button-group";
@import "theme-card";
@import "theme-dropdown";
@import "theme-form";
@import "theme-progress";
@import "theme-tab";
@import "theme-table";
@import "theme-typography";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: var(--fs-p);
  font-weight: 400;

  color: var(--bs-gray);
  background: var(--bs-backdrop);
}

i {
  text-align: center;
}
