h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: var(--space-m);

  color: var(--bs-black);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

p {
  font-size: var(--fs-p);
  margin-bottom: 1rem;
}

small {
  font-size: var(--fs-s);
}

.text-muted {
  color: var(--bs-fade);
}

.blockquote {
  font-size: var(--fs-h3);

  margin-bottom: var(--space-m);
}

.blockquote-footer {
  font-size: var(--fs-h4);

  margin-top: 0;

  color: var(--bs-fade);
}

.text-primary {
  color: var(--bs-primary-light);
}

.text-success {
  color: var(--bs-success-light);
}

.text-danger {
  color: var(--bs-danger-light);
}

.text-warning {
  color: var(--bs-warning-dark);
}

.text-info {
  color: var(--bs-info-light);
}

.text-light {
  color: var(--bs-light-light);
}

.bg-primary {
  background-color: var(--bs-primary-light);
}

.bg-success {
  background-color: var(--bs-success-light);
}

.bg-danger {
  background-color: var(--bs-danger-light);
}

.bg-warning {
  color: var(--bs-white);
  background-color: var(--bs-warning-dark);
}

.bg-info {
  background-color: var(--bs-info-light);
}

.bg-light {
  background-color: var(--bs-light-light);
}

.bg-dark {
  background-color: var(--bs-dark-light);
}
