.nav {
  i {
    margin-right: var(--icon-size);
  }

  .nav-link {
    padding: var(--space-s) var( --space-m);

    color: var(--bs-gray);
    border-radius: var(--radius);

    &.active,
    &:hover,
    &:focus {
      color: var(--bs-primary-light);
    }
  }
}

.nav-tabs {
  color: var(--bs-primary-light);

  .nav-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.nav-pills .active {
  color: var(--bs-white) !important;
}

.nav-success {
  .active {
    background-color: var(--bs-success-light) !important;
  }

  .nav-link:not(.active) {
    &:hover,
    &:focus {
      color: var(--bs-success-light) !important;
    }
  }
}

.tab-content {
  margin: var(--space-m) 0 var(--space-l) 0;
  padding: 0;
}
