.table {
  color: color(theme, text-heading);

  thead th {
    border: 0;
    font-weight: 600 !important;
  }

  th,
  td {
    border-top: 1px solid color(theme, backdrop-outline);
    vertical-align: middle;
  }

  .table-active,
  .table-active > td,
  .table-active > th {
    color: color(theme, text-white);
    background-color: color(theme, info-dark);
  }

  .table-primary,
  .table-primary > td,
  .table-primary > th {
    color: color(theme, text-white);
    background-color: color(theme, primary-dark);
  }

  .table-success,
  .table-success > td,
  .table-success > th {
    color: color(theme, text-white);
    background-color: color(theme, success-dark);
  }

  .table-danger,
  .table-danger > td,
  .table-danger > th {
    background-color: color(theme, danger-dark);
  }

  .table-warning,
  .table-warning > td,
  .table-warning > th {
    background-color: color(theme, warning-dark);
  }

  .table-light,
  .table-light > td,
  .table-light > th {
    background-color: color(theme, light-dark);
  }

  .table-dark,
  .table-dark > td,
  .table-dark > th {
    color: color(theme, text-white);
    background-color: color(theme, dark-dark);
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background: color(theme, light-dark);
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid color(theme, backdrop-outline);
}

.table-hover tbody tr:hover {
  background-color: color(theme, light-dark);
}
