.dropdown-menu {
  padding: 6px 0;

  border-radius: 5px;
}

.dropdown-item {
  font-size: 13px;

  padding: 10px 16px;

  color: color(theme, text-heading);

  &:hover,
  &:focus {
    color: color(theme, text-heading);
    background-color: color(theme, backdrop-outline);
  }
}
