/*
----------------------------------------
Convention for CSS ordering is done using https://csscomb.herokuapp.com/online
----------------------------------------
*/

@import "@fontsource/poppins";

@import "./theme-accordion.scss";
@import "./theme-button-group.scss";
@import "./theme-button.scss";
@import "./theme-alert.scss";
@import "./theme-dropdown.scss";
@import "./theme-table.scss";
@import "./theme-typography.scss";
@import "./theme-progress-bar.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;

  color: color(theme, text-paragraph);
  background: color(theme, backdrop);
}
