.progress {
  height: 14px;

  border-radius: 14px;
  background-color: color(theme, backdrop);
}

.progress-bar,
.bg-primary {
  background-color: color(theme, primary-light) !important;
}

.bg-success {
  background-color: color(theme, success-light) !important;
}

.bg-warning {
  background-color: color(theme, warning-light) !important;
}

.bg-danger {
  background-color: color(theme, danger-light) !important;
}
