.accordion-button,
.accordion-body {
  padding: var(--space-m) var( --space-l);

  color: var(--bs-gray);
}

.accordion-button {
  font-size: var(--fs-h4);
  font-weight: 500;

  background-color: var(--bs-outline);

  i {
    margin-right: var(--space-m);
  }

  &.collapsed {
    background-color: var(--bs-outline);
  }
}

.accordion-body {
  font-size: var(--fs-p);
}

.light-accordion {
  .accordion-button {
    background-color: transparent;
  }
}

.solid-accordion {
  .accordion-item {
    margin-bottom: var(--space-m);

    border: 1px solid var(--bs-accordion-border-color);
  }

  .accordion-button {
    border-style: solid;
    border-color: var(--bs-outline);
  }
}
