@import "~src/app/@theme/assets/scss/theme-colour.scss";

.footer {
  padding: 15px 20px;

  border-top: 1px solid color(theme, backdrop-outline);
  background: color(theme, text-white);

  p {
    font-size: 13px;

    margin-bottom: 0;

    color: color(theme, text-paragraph);
  }
}
