<div class="row">
  <div class="col-xl-12">
    <page-header></page-header>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Default
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#defaultModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Vertically Centered
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#verticalCenteredModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Scrolling
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#scrollingModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Small
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#smallModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Large
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#largeModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Extra Large
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#extraLargeModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>

  <div class="col-xl-4">
    <card>
      <card-header>
        <card-title>
          Confirmation
        </card-title>
      </card-header>

      <card-body>
        <button class="btn btn-primary col-xl-12" data-toggle="modal" data-target="#confirmationModal">
          Launch Modal
        </button>
      </card-body>
    </card>
  </div>
</div>

<modal modalId="defaultModal">
  <modal-title>
    Default Modal
  </modal-title>

  <modal-body>
    <p> Modal body text goes here. </p>
  </modal-body>

  <modal-footer>
    <button class="btn btn-primary"> Save changes </button>
  </modal-footer>
</modal>

<modal modalId="verticalCenteredModal" modalClass="modal-dialog-centered">
  <modal-title>
    Vertical Centered Modal
  </modal-title>

  <modal-body>
    <p> Modal body text goes here. </p>
  </modal-body>

  <modal-footer></modal-footer>
</modal>

<modal modalId="scrollingModal" modalClass="long-modal">
  <modal-title>
    Scrolling Modal
  </modal-title>

  <modal-body>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus nunc quis mauris pulvinar molestie.
      Aliquam eros nunc, luctus in malesuada ut, facilisis elementum sem. Pellentesque a fermentum mauris. Nunc arcu
      tortor, scelerisque non euismod quis, tristique ut est. Donec in quam eu erat ullamcorper pretium nec sed risus.
      Donec tincidunt lobortis aliquet. Morbi faucibus eros ex, elementum auctor libero vehicula at. Aenean nec nisi
      dictum, iaculis turpis sed, elementum lacus. Aenean quis enim metus. Quisque sed finibus velit, ac consequat urna.
    </p>

    <p>
      Donec molestie augue vel magna fringilla tincidunt. In accumsan sit amet turpis quis fermentum. Fusce tempus erat
      et finibus imperdiet. Fusce sapien arcu, pretium et auctor vel, viverra a risus. Phasellus volutpat, tortor eu
      tempus ultrices, eros eros commodo mi, quis semper lectus ante in augue. Cras sodales auctor efficitur. Fusce
      blandit arcu nulla, ac luctus turpis pharetra ac. Maecenas eget risus justo. Cras eget nisl cursus ipsum accumsan
      laoreet. Suspendisse volutpat nulla ac urna mollis congue. Mauris eget metus nisl.
    </p>

    <p>
      Aenean diam nisl, suscipit at consequat et, eleifend eget sem. Duis dapibus, lorem id convallis accumsan, dui est
      rutrum est, quis euismod enim felis at odio. Curabitur at tincidunt dui. Integer ligula quam, auctor blandit dolor
      sit amet, sollicitudin fringilla leo. Phasellus blandit semper justo vitae consectetur. Curabitur et lacus leo.
      Aenean turpis nisi, facilisis nec eros eu, laoreet tristique diam. Mauris ullamcorper libero enim, id consectetur
      nunc feugiat non. Cras mollis justo in velit sagittis, at finibus nisi egestas. Nulla mattis posuere sapien, ac
      volutpat urna porttitor sit amet. Nulla non nisl lacus. Aliquam malesuada fermentum leo, in auctor quam. Maecenas
      vehicula commodo mi, non suscipit tortor.
    </p>

    <p>
      Suspendisse et urna sed magna blandit dapibus. Nunc a tincidunt tellus. Morbi iaculis quis ligula nec feugiat.
      Donec gravida, arcu quis tempus ultrices, quam nunc posuere augue, a semper turpis orci a tellus. Sed sit amet
      sapien non nulla rutrum consectetur quis eu nisl. Aenean vulputate pellentesque ante, consequat vestibulum erat
      mollis sed. Duis laoreet at nulla vitae aliquet. Pellentesque elementum nulla nec ex interdum efficitur.
      Suspendisse potenti. Ut purus sem, interdum vitae lectus et, euismod eleifend turpis. Quisque ac tristique nisl.
      Sed ac dolor nulla. Vivamus nisi elit, interdum nec venenatis non, tempus vel mauris. Maecenas maximus suscipit
      condimentum. Nullam vitae purus augue.
    </p>

    <p>
      Aenean diam nisl, suscipit at consequat et, eleifend eget sem. Duis dapibus, lorem id convallis accumsan, dui est
      rutrum est, quis euismod enim felis at odio. Curabitur at tincidunt dui. Integer ligula quam, auctor blandit dolor
      sit amet, sollicitudin fringilla leo. Phasellus blandit semper justo vitae consectetur. Curabitur et lacus leo.
      Aenean turpis nisi, facilisis nec eros eu, laoreet tristique diam. Mauris ullamcorper libero enim, id consectetur
      nunc feugiat non. Cras mollis justo in velit sagittis, at finibus nisi egestas. Nulla mattis posuere sapien, ac
      volutpat urna porttitor sit amet. Nulla non nisl lacus. Aliquam malesuada fermentum leo, in auctor quam. Maecenas
      vehicula commodo mi, non suscipit tortor.
    </p>

    <p>
      Suspendisse et urna sed magna blandit dapibus. Nunc a tincidunt tellus. Morbi iaculis quis ligula nec feugiat.
      Donec gravida, arcu quis tempus ultrices, quam nunc posuere augue, a semper turpis orci a tellus. Sed sit amet
      sapien non nulla rutrum consectetur quis eu nisl. Aenean vulputate pellentesque ante, consequat vestibulum erat
      mollis sed. Duis laoreet at nulla vitae aliquet. Pellentesque elementum nulla nec ex interdum efficitur.
      Suspendisse potenti. Ut purus sem, interdum vitae lectus et, euismod eleifend turpis. Quisque ac tristique nisl.
      Sed ac dolor nulla. Vivamus nisi elit, interdum nec venenatis non, tempus vel mauris. Maecenas maximus suscipit
      condimentum. Nullam vitae purus augue.
    </p>

    <p>
      Aenean diam nisl, suscipit at consequat et, eleifend eget sem. Duis dapibus, lorem id convallis accumsan, dui est
      rutrum est, quis euismod enim felis at odio. Curabitur at tincidunt dui. Integer ligula quam, auctor blandit dolor
      sit amet, sollicitudin fringilla leo. Phasellus blandit semper justo vitae consectetur. Curabitur et lacus leo.
      Aenean turpis nisi, facilisis nec eros eu, laoreet tristique diam. Mauris ullamcorper libero enim, id consectetur
      nunc feugiat non. Cras mollis justo in velit sagittis, at finibus nisi egestas. Nulla mattis posuere sapien, ac
      volutpat urna porttitor sit amet. Nulla non nisl lacus. Aliquam malesuada fermentum leo, in auctor quam. Maecenas
      vehicula commodo mi, non suscipit tortor.
    </p>

    <p>
      Suspendisse et urna sed magna blandit dapibus. Nunc a tincidunt tellus. Morbi iaculis quis ligula nec feugiat.
      Donec gravida, arcu quis tempus ultrices, quam nunc posuere augue, a semper turpis orci a tellus. Sed sit amet
      sapien non nulla rutrum consectetur quis eu nisl. Aenean vulputate pellentesque ante, consequat vestibulum erat
      mollis sed. Duis laoreet at nulla vitae aliquet. Pellentesque elementum nulla nec ex interdum efficitur.
      Suspendisse potenti. Ut purus sem, interdum vitae lectus et, euismod eleifend turpis. Quisque ac tristique nisl.
      Sed ac dolor nulla. Vivamus nisi elit, interdum nec venenatis non, tempus vel mauris. Maecenas maximus suscipit
      condimentum. Nullam vitae purus augue.
    </p>
  </modal-body>

  <modal-footer></modal-footer>
</modal>

<modal modalId="smallModal" modalClass="modal-sm">
  <modal-title>
    Small Modal
  </modal-title>

  <modal-body>
    <form>
      <div class="form-group">
        <label> Recipient: </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label> Message: </label>
        <textarea class="form-control"></textarea>
      </div>
    </form>
  </modal-body>

  <modal-footer></modal-footer>
</modal>

<modal modalId="largeModal" modalClass="modal-lg">
  <modal-title>
    Large Modal
  </modal-title>

  <modal-body>
    <form>
      <div class="form-group">
        <label> Recipient: </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label> Message: </label>
        <textarea class="form-control"></textarea>
      </div>
    </form>
  </modal-body>

  <modal-footer></modal-footer>
</modal>

<modal modalId="extraLargeModal" modalClass="modal-xl">
  <modal-title>
    Extra Large Modal
  </modal-title>

  <modal-body>
    <form>
      <div class="form-group">
        <label> Recipient: </label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label> Message: </label>
        <textarea class="form-control"></textarea>
      </div>
    </form>
  </modal-body>

  <modal-footer></modal-footer>
</modal>

<confirmation-modal modalId="confirmationModal"></confirmation-modal>
