<app-page-header></app-page-header>

<app-page-body>
  <div class="row">

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Default </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#defaultModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Vertically Centered </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#verticalCenteredModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
         <h3 class="card-title"> Scrolling </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#scrollingModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Small </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#smallModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Large </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#largeModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Extra Large </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#extraLargeModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Confirmation </h3>
        </div>

        <div class="card-body">
          <button class="btn btn-primary col-xl-12" data-bs-toggle="modal" data-bs-target="#confirmationModal">
            Launch Modal
          </button>
        </div>
      </div>
    </div>

  </div>
</app-page-body>

<app-modal modalId="defaultModal">
  <app-modal-title>
    Default Modal
  </app-modal-title>

  <app-modal-body>
    <p> Modal body text goes here. </p>
  </app-modal-body>

  <app-modal-footer>
    <button class="btn btn-primary"> Submit </button>
  </app-modal-footer>
</app-modal>

<app-modal modalId="verticalCenteredModal" modalClass="modal-dialog-centered">
  <app-modal-title>
    Vertical Centered Modal
  </app-modal-title>

  <app-modal-body>
    <p> Modal body text goes here. </p>
  </app-modal-body>

  <app-modal-footer></app-modal-footer>
</app-modal>

<app-modal modalId="scrollingModal" modalClass="long-modal">
  <app-modal-title>
    Scrolling Modal
  </app-modal-title>

  <app-modal-body>
    <p *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus nunc quis mauris pulvinar molestie.
      Aliquam eros nunc, luctus in malesuada ut, facilisis elementum sem. Pellentesque a fermentum mauris. Nunc arcu
      tortor, scelerisque non euismod quis, tristique ut est. Donec in quam eu erat ullamcorper pretium nec sed risus.
      Donec tincidunt lobortis aliquet. Morbi faucibus eros ex, elementum auctor libero vehicula at. Aenean nec nisi
      dictum, iaculis turpis sed, elementum lacus. Aenean quis enim metus. Quisque sed finibus velit, ac consequat urna.
    </p>
  </app-modal-body>

  <app-modal-footer></app-modal-footer>
</app-modal>

<app-modal modalId="smallModal" modalClass="modal-sm">
  <app-modal-title>
    Small Modal
  </app-modal-title>

  <app-modal-body>
    <form>
      <div class="form-group">
        <label for="recipientInput"> Recipient: </label>
        <input id="recipientInput" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="messageInput"> Message: </label>
        <textarea id="messageInput" class="form-control"></textarea>
      </div>
    </form>
  </app-modal-body>

  <app-modal-footer></app-modal-footer>
</app-modal>

<app-modal modalId="largeModal" modalClass="modal-lg">
  <app-modal-title>
    Large Modal
  </app-modal-title>

  <app-modal-body>
    <form>
      <div class="form-group">
        <label for="recipientInput"> Recipient: </label>
        <input id="recipientInput" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="messageInput"> Message: </label>
        <textarea id="messageInput" class="form-control"></textarea>
      </div>
    </form>
  </app-modal-body>

  <app-modal-footer></app-modal-footer>
</app-modal>

<app-modal modalId="extraLargeModal" modalClass="modal-xl">
  <app-modal-title>
    Extra Large Modal
  </app-modal-title>

  <app-modal-body>
    <form>
      <div class="form-group">
        <label for="recipientInput"> Recipient: </label>
        <input id="recipientInput" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="messageInput"> Message: </label>
        <textarea id="messageInput" class="form-control"></textarea>
      </div>
    </form>
  </app-modal-body>

  <app-modal-footer></app-modal-footer>
</app-modal>

<app-confirmation-modal modalId="confirmationModal"></app-confirmation-modal>
