.page-header {
  height: var(--ht-toolbar);
  padding: 0 var(--space-xl);

  border-top: 1px solid var(--bs-outline);
  background-color: var(--bs-white);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

.page-header .page-title,
.page-header .divider {
  font-size: var(--fs-m);

  margin: 0;
}

.page-header .divider {
  padding: 0 var(--space-m);

  color: var(--bs-fade);
}

.page-header ::ng-deep .btn {
  margin-left: var(--space-m);
  padding: var(--space-xs) var(--space-s);
}
