<modal modalId="exportCSVProjectModal">
  <modal-title>
    Export Project as CSV
  </modal-title>

  <modal-body>
    <form [formGroup]="trelloForm">
      <div class="col-xl-12">
        <div class="form-group row">
          <label class="col-xl-3 col-form-label"> Delimiters: </label>

          <div class="col-xl-9">
            <select class="form-control form-select" formControlName="csvDelimiter">
              <option *ngFor="let key of csvDelimiterKeys"> {{key}} </option>
            </select>
          </div>
        </div>

        <label class="mb-3"> Select the fields to be exported and rename them as needed. </label>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepBoardName"> </span>
          <input class="form-control" type="text" placeholder="Board Name Column" formControlName="boardName">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepCardName"> </span>
          <input class="form-control" type="text" placeholder="Card Name Column" formControlName="cardName">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepCardDescription"> </span>
          <input class="form-control" type="text" placeholder="Card Description Column" formControlName="cardDescription">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepCardLabels"> </span>
          <input class="form-control" type="text" placeholder="Card Labels Column" formControlName="cardLabels">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepCardPercentage"> </span>
          <input class="form-control" type="text" placeholder="Card Percentage Column" formControlName="cardPercentage">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text"> <input type="checkbox" formControlName="keepCustomField"> </span>
          <input class="form-control" type="text" placeholder="Card Custom Field Column" formControlName="customField">
        </div>
      </div>
    </form>

    <div class="modal-controls">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal">
        Discard
      </button>

      <button type="button" class="btn btn-primary" (click)="exportCSVProject()" data-bs-dismiss="modal">
        Export CSV
      </button>
    </div>
  </modal-body>
</modal>
