.card-countdown {
  padding: var(--space-l) var(--space-xl);

  text-align: center;

  color: var(--bs-white);

  .count {
    font-size: var(--fs-h1);
    font-weight: 600;
  }

  .description {
    font-size: var(--fs-h4);
  }
}

.card-info {
  background: var(--bs-info-dark);
}

.card-primary {
  background: var(--bs-primary-dark);
}

.card-success {
  background: var(--bs-success-dark);
}

.card-dark {
  background: var(--bs-dark-dark);
}
