@import "~src/app/@theme/assets/scss/theme-colour.scss";

.card-countdown {
  text-align: center;

  color: color(theme, text-white);

  .count {
    font-size: 28px;
    font-weight: 600;

    margin-top: 24px;
  }

  .description {
    font-size: 15px;

    margin-bottom: 24px;
  }
}

.card-info .card {
  background: color(theme, info-dark) !important;
}

.card-primary .card {
  background: color(theme, primary-dark) !important;
}

.card-success .card {
  background: color(theme, success-dark) !important;
}

.card-dark .card {
  background: color(theme, dark-dark) !important;
}
