@import "~src/app/@theme/assets/scss/theme-colour.scss";

.card-countdown {
  text-align: center;

  .card {
    margin: 8px 0;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;

    padding-top: 10px;

    color: color(theme, text-white);
  }

  h6 {
    font-size: 14px;
    line-height: 16px;

    padding-bottom: 10px;

    color: color(theme, text-white);
  }
}

.card-info .card {
  background: color(theme, info-dark) !important;
}

.card-primary .card {
  background: color(theme, primary-dark) !important;
}

.card-success .card {
  background: color(theme, success-dark) !important;
}

.card-dark .card {
  background: color(theme, dark-dark) !important;
}
