<div class="row">
  <div class="col-md-12">
    <page-header></page-header>
  </div>

  <div class="col-md-6">
    <card>
      <card-header>
        <card-title>
          Alert Title
        </card-title>
      </card-header>

      <card-body>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertTitleSuccess()">
              Success
            </button>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertTitleError()">
              Error
            </button>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertTitleWarning()">
              Warning
            </button>
          </div>

          <div class="col-md-6">
            <button class="btn btn-primary col-md-12" (click)="openAlertTitleInfo()">
              Info
            </button>
          </div>

          <div class="col-md-6">
            <button class="btn btn-primary col-md-12" (click)="openAlertTitleDark()">
              Dark
            </button>
          </div>
        </div>
      </card-body>
    </card>
  </div>

  <div class="col-md-6">
    <card>
      <card-header>
        <card-title>
          Alert Title with Description
        </card-title>
      </card-header>

      <card-body>
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertDescriptionSuccess()">
              Success
            </button>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertDescriptionError()">
              Error
            </button>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary col-md-12" (click)="openAlertDescriptionWarning()">
              Warning
            </button>
          </div>

          <div class="col-md-6">
            <button class="btn btn-primary col-md-12" (click)="openAlertDescriptionInfo()">
              Info
            </button>
          </div>

          <div class="col-md-6">
            <button class="btn btn-primary col-md-12" (click)="openAlertDescriptionDark()">
              Dark
            </button>
          </div>
        </div>
      </card-body>
    </card>
  </div>
</div>
