<app-modal modalId="manageProjectModal">
  <app-modal-title>
    <div *ngIf="isNewMode(); else editMode"> Add Trello Project </div>
    <ng-template #editMode> Edit Trello Project </ng-template>
  </app-modal-title>

  <app-modal-body>
    <form [formGroup]="trelloForm">
      <div class="col-xl-12">
        <div class="form-group">
          <label for="trelloUrlInput"> Trello Project </label>
          <input id="trelloUrlInput" class="form-control" type="text" placeholder="Trello URL" formControlName="url">
        </div>
      </div>

      <div class="col-xl-12">
        <div class="form-group">
          <label for="expiryInput"> Sync Project Every </label>

          <div id="expiryInput" class="row">
            <div class="col-xl-6">
              <input class="form-control" type="number" formControlName="expiryQuantity">
              <small> 0 sync projects every page load </small>
            </div>

            <div class="col-xl-6">
              <select class="form-control form-select" formControlName="expiryType">
                <option value=1> Days </option>
                <option value=31> Months </option>
                <option value=365> Years </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="modal-controls">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal">
        Discard
      </button>

      <button
        type="button" class="btn btn-primary" *ngIf="isNewMode()"
        (click)="addTrelloProjectModal()" data-bs-dismiss="modal"
      >
        Add Project
      </button>

      <button
        type="button" class="btn btn-primary" *ngIf="!isNewMode()"
        (click)="updateTrelloProjectModal()" data-bs-dismiss="modal"
      >
        Update Project
      </button>
    </div>
  </app-modal-body>
</app-modal>
