.content {
  float: right;

  width: calc(100% - var(--ht-sidebar));
  height: 100vh;
  min-height: 100%;

  transition: all 0.3s;
}

.expand {
  width: 100%;
}

.content-body {
  min-height: calc(100% - var(--ht-header) - var(--ht-header));
  margin-top: var(--ht-header);
}
