.content {
  position: relative;
  width: calc(100% - 240px);
  height: 100vh;
  min-height: 100%;
  float: right;
  transition: all 0.3s;

  .content-body {
    padding: 25px;
    margin-top: 60px;
    min-height: calc(100% - 60px - 50px); /* Top Navigation and Footer Height */
  }
}

.fullContent {
  width: calc(100% - 60px);
}

@media (max-width: 1440px) {
  .content {
    width: 100%;
  }
}
