<page-header></page-header>

<page-body>
  <div class="row">

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Base Buttons </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Light Buttons </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-light-primary">Primary</button>
          <button type="button" class="btn btn-light-success">Success</button>
          <button type="button" class="btn btn-light-danger">Danger</button>
          <button type="button" class="btn btn-light-warning">Warning</button>
          <button type="button" class="btn btn-light-dark">Dark</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Outline Buttons </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Button Sizes </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-primary btn-sm">Small button</button>
          <button type="button" class="btn btn-primary">Default button</button>
          <button type="button" class="btn btn-primary btn-lg">Large button</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Disabled States </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-primary" disabled>Primary</button>
          <button type="button" class="btn btn-success" disabled>Success</button>
          <button type="button" class="btn btn-danger" disabled>Danger</button>
          <button type="button" class="btn btn-warning" disabled>Warning</button>
          <button type="button" class="btn btn-info" disabled>Info</button>
          <button type="button" class="btn btn-light" disabled>Light</button>
          <button type="button" class="btn btn-dark" disabled>Dark</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Button with Shadow </h3>
        </div>

        <div class="card-body">
          <button type="button" class="btn btn-primary btn-shadow-hover">Primary</button>
          <button type="button" class="btn btn-success btn-shadow-hover">Success</button>
          <button type="button" class="btn btn-danger btn-shadow-hover">Danger</button>
          <button type="button" class="btn btn-warning btn-shadow-hover">Warning</button>
          <button type="button" class="btn btn-info btn-shadow-hover">Info</button>
          <button type="button" class="btn btn-dark btn-shadow-hover">Dark</button>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Buttons with Icons </h3>
        </div>

        <div class="card-body">
          <div class="col-xl-12 mb-2">
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-house-fill"></i> Primary</button>
            <button type="button" class="btn btn-success btn-sm"><i class="bi bi-pie-chart-fill"></i> Success</button>
            <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-radioactive"></i> Danger</button>

            <button type="button" class="btn btn-primary"><i class="bi bi-house-fill"></i> Primary</button>
            <button type="button" class="btn btn-success"><i class="bi bi-pie-chart-fill"></i> Success</button>
            <button type="button" class="btn btn-danger"><i class="bi bi-radioactive"></i> Danger</button>
          </div>

          <div class="col-xl-12 mb-2">
            <button type="button" class="btn btn-light-primary"><i class="bi bi-house-fill"></i> Primary</button>
            <button type="button" class="btn btn-light-success"><i class="bi bi-pie-chart-fill"></i> Success</button>
            <button type="button" class="btn btn-light-danger"><i class="bi bi-radioactive"></i> Danger</button>

            <button type="button" class="btn btn-outline-primary"><i class="bi bi-house-fill"></i> Primary</button>
            <button type="button" class="btn btn-outline-success"><i class="bi bi-pie-chart-fill"></i> Success</button>
            <button type="button" class="btn btn-outline-danger"><i class="bi bi-radioactive"></i> Danger</button>
          </div>

          <div class="col-xl-12 mb-2">
            <button type="button" class="btn btn-primary btn-icon"><i class="bi bi-house-fill"></i></button>
            <button type="button" class="btn btn-success btn-icon"><i class="bi bi-pie-chart-fill"></i></button>
            <button type="button" class="btn btn-danger btn-icon"><i class="bi bi-radioactive"></i></button>

            <button type="button" class="btn btn-light-primary btn-icon"><i class="bi bi-house-fill"></i></button>
            <button type="button" class="btn btn-light-success btn-icon"><i class="bi bi-pie-chart-fill"></i></button>
            <button type="button" class="btn btn-light-danger btn-icon"><i class="bi bi-radioactive"></i></button>

            <button type="button" class="btn btn-outline-primary btn-icon"><i class="bi bi-house-fill"></i></button>
            <button type="button" class="btn btn-outline-success btn-icon"><i class="bi bi-pie-chart-fill"></i></button>
            <button type="button" class="btn btn-outline-danger btn-icon"><i class="bi bi-radioactive"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</page-body>
