<page-header>
  <button
    class="btn btn-secondary" type="button" [disabled]="!trelloService.areProjectsLoaded"
    (click)="trelloService.addProject('https://trello.com/b/1lD8Fo21/city-of-the-zombies-game.json')"
  >
    <i class="bi bi-plus"></i>
    Add Sample
  </button>

  <button
    class="btn btn-primary" type="button"
    (click)="addTrelloProject()" [disabled]="!trelloService.areProjectsLoaded"
    data-bs-toggle="modal" data-bs-target="#manageProjectModal"
  >
    <i class="bi bi-plus"></i>
    Add Project
  </button>
</page-header>

<page-body>
  <div class="row">

    <ng-container *ngIf="trelloService.trelloProjects.length">
      <div class="col-xl-4 summary">
        <div class="card">
          <div class="card-body">
            <h1> {{boardLabels.length}} </h1>
            <h4> Project Boards </h4>

            <canvas baseChart [type]="'doughnut'" [legend]="true" [datasets]="boardDataset" [labels]="boardLabels" [options]="chartOptions">
            </canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-4 summary">
        <div class="card">
          <div class="card-body">
            <h1> {{cardLabels.length}} </h1>
            <h4> Project Cards </h4>

            <canvas baseChart [type]="'doughnut'" [legend]="true" [datasets]="cardDataset" [labels]="cardLabels" [options]="chartOptions">
            </canvas>
          </div>
        </div>
      </div>

      <div class="col-xl-4 summary">
        <div class="card">
          <div class="card-body">
            <h1> {{memberLabels.length}} </h1>
            <h4> Project Members </h4>

            <canvas baseChart [type]="'doughnut'" [legend]="true" [datasets]="memberDataset" [labels]="memberLabels" [options]="chartOptions">
            </canvas>
          </div>
        </div>
      </div>
    </ng-container>

    <trello-card cardTitle="Manage Projects">
      <div class="header">
        <button
          class="btn btn-light" type="button"
          (click)="addTrelloProject()" [disabled]="!trelloService.areProjectsLoaded"
          data-bs-toggle="modal" data-bs-target="#manageProjectModal"
        >
          <i class="bi bi-plus"></i>
          Add Project
        </button>
      </div>

      <div class="body">
        <table class="table">
          <thead>
            <tr>
              <th>Project Title</th>
              <th>Members</th>
              <th>Card Total</th>
              <th>Sync Date</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let aTrelloProject of trelloService.trelloProjects; index as i">
              <td> {{aTrelloProject.projectName}} </td>

              <td>
                <div class="group-members d-flex align-items-center">
                  <img *ngFor="let aMember of aTrelloProject.projectMembers | slice:0:4; index as j" class="member" [src]="aMember.profilePicture" [attr.alt]="'Member ' + (j+1)">

                  <div class="other" *ngIf="aTrelloProject.projectMembers.length > 4">
                    <span> +{{aTrelloProject.projectMembers.length - 4}} </span>
                  </div>
                </div>
              </td>

              <td> {{aTrelloProject.trelloCards.length}} Cards </td>
              <td> {{aTrelloProject.expiryDate | date: 'dd MMMM yyyy'}} </td>

              <td>
                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" [disabled]="!trelloService.areProjectsLoaded">
                  Actions
                </button>

                <div class="dropdown-menu">
                  <button class="dropdown-item" (click)="syncTrelloProject(i)">
                    <i class="bi bi-arrow-repeat"></i> Sync
                  </button>

                  <button class="dropdown-item" (click)="editTrelloProject(i)" data-bs-toggle="modal" data-bs-target="#manageProjectModal">
                    <i class="bi bi-pencil-square"></i> Edit
                  </button>

                  <button class="dropdown-item" (click)="removeTrelloProject(i)" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                    <i class="bi bi-trash-fill"></i> Remove
                  </button>

                  <div class="dropdown-divider"></div>

                  <button class="dropdown-item" (click)="exportCsvProject(i)" data-bs-toggle="modal" data-bs-target="#exportCSVProjectModal">
                    <i class="bi bi-filetype-csv"></i> Export CSV
                  </button>

                  <button class="dropdown-item" (click)="exportLatexProject(i)" data-bs-toggle="modal" data-bs-target="#exportLatexProjectModal">
                    <i class="bi bi-file-earmark-code-fill"></i> Export LaTeX
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </trello-card>

  </div>
</page-body>

<trello-project [projectIndex]="projectIndex" [trelloForm]="trelloForm"></trello-project>

<trello-export-csv [projectIndex]="projectIndex"></trello-export-csv>

<trello-export-latex [projectIndex]="projectIndex"></trello-export-latex>

<confirmation-modal modalId="confirmationModal" (modalChoice)="confirmRemoveTrelloProject($event)"></confirmation-modal>
