.summary {
  h1 {
    margin-bottom: 0;
  }

  h4 {
    color: var(--bs-gray);
  }
}

.table {
  .group-members {
    .member,
    .other {
      position: relative;

      width: 35px;
      height: 35px;
      margin-right: -10px;

      border: 2px solid var(--bs-white);
      border-radius: 100%;
    }

    .other {
      background-color: var(--bs-black);

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        color: var(--bs-outline);
      }
    }
  }
}
