<page-header></page-header>

<page-body>
  <div class="row">

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Basic Accordions </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="accordion basic-accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#basOne">
                    <i class="fas fa-layer-group"></i>
                    Section #1
                  </button>
                </h2>
                <div id="basOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    Section 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#basTwo">
                    <i class="fas fa-file"></i>
                    Section #2
                  </button>
                </h2>
                <div id="basTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#basThree">
                    <i class="fas fa-bell"></i>
                    Section #3
                  </button>
                </h2>
                <div id="basThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Light Accordions </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="accordion accordion-flush light-accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#lasOne">
                    <i class="fas fa-layer-group"></i>
                    Section #1
                  </button>
                </h2>
                <div id="lasOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    Section 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lasTwo">
                    <i class="fas fa-file"></i>
                    Section #2
                  </button>
                </h2>
                <div id="lasTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#lasThree">
                    <i class="fas fa-bell"></i>
                    Section #3
                  </button>
                </h2>
                <div id="lasThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Solid Accordions </h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="accordion solid-accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sasOne">
                    <i class="fas fa-layer-group"></i>
                    Section #1
                  </button>
                </h2>
                <div id="sasOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    Section 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sasTwo">
                    <i class="fas fa-file"></i>
                    Section #2
                  </button>
                </h2>
                <div id="sasTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sasThree">
                    <i class="fas fa-bell"></i>
                    Section #3
                  </button>
                </h2>
                <div id="sasThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Section 3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</page-body>
